nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
}
#searchbar{
    border: none;
    outline: none;
}
*{
    margin: 0px;
    padding: 1px;
}

.box{
    display: flex; 
    background-color: oklch(0.26 0.03 278.07);
     width: 1073px;
      height: 531px;
       margin-left: 300px;
        margin-right: 300px;
         border: 1px;
         border-radius: 15px;
          margin-top: 20px;
          gap: 15px;
          padding: 48px 48px 64px 48px;
}